body {
    background-color: #4d4d4d;
    color: #4d4d4d;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

body > .container {
    background-color: #edece4;
    color: #4d4d4d;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

h1 {
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 26px;
    margin-top: 38px;
}

h2 {
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 38px;
}

h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 24px;
}

h4 {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}

a {
    color: #1b75bb;
    padding-bottom: 1px;
    text-decoration: none;
}

ul {
    margin: 0px 0px 0px 0px;
    padding-left: 16px;
}

ul li {
    line-height: 26px;
}

.title {
    margin-bottom: 24px;
    margin-top: 24px;
    text-align: center;
}

.container {
    background-color: #4d4d4d;
    margin: 0px auto 0px auto;
    padding: 48px 0px 48px 0px;
}

.container > div {
    background-color: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 0px 24px #000000;
    -o-box-shadow: 0px 0px 24px #000000;
    -ms-box-shadow: 0px 0px 24px #000000;
    -moz-box-shadow: 0px 0px 24px #000000;
    -khtml-box-shadow: 0px 0px 24px #000000;
    -webkit-box-shadow: 0px 0px 24px #000000;
    margin: 0px auto 0px auto;
    padding: 42px 72px 42px 72px;
    width: 520px;
}

.footer {
    font-size: 10px;
    line-height: 16px;
    margin-top: 48px;
    text-align: right;
}

.logo-url {
    margin: 24px 0px 32px 0px;
    text-align: center;
}

.logo-url > img {
    max-width: 280px;
}
